@import "tailwindcss";
/* .App {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional, for vertical centering too */
  /* min-height: 100vh; Make sure it takes full viewport height */
